<!-- <h1 class="bg-blue-950 text-white">{{messageHijo}}</h1>

<div class="bg-stone-800 text-black">
    <label for="entrade"> Escribi un mensaje para el padre: </label>
    <input type="text" id="entrade" [(ngModel)]="message" >
    <button type="button" (click)="sendinMessage()">Enviar</button>
</div> -->

<!-- <h1 class="bg-blue-300 text-white">
    I'm the son
</h1>
<div class="text-purple-500">
    {{messageSon}}

</div> -->

<!-- <div class="flex justify-center bg-red-950">
    <label for="entrade"></label>
    <input type="text" id="entrade" [(ngModel)]="message">
    <button type="button" (click)="receipMesanje()" >Send</button>
</div> -->

<!-- <div class="bg-fuchsia-700 text-red-400">
    I'm receiving a message 
    {{valueSon}}
</div> -->

<!-- <div class="mt-20 bg-gray-600 text-black">
    <label for="entrade"></label>
    <input type="text" id="entrade" [(ngModel)]="valueImport" >
    <button type="button" (click)="changeValor()" >Send</button>
</div> -->

<div class="bg-stone-400 flex justify-center space-x-10">
    <button type="button" (click)="increase()">increase</button>
    <button type="button" (click)="decrease()">decrease</button>
</div>